# git will ignore the following file(s):
tools
__pycache__
*.DS_Store
*.cmp
*.out
*.tst
*.hack
*.vm
*.html
00
add
max
pong
rect
04
StackArithmetic
MemoryAccess
MemoryAccessVMTranslatorWithPrintStatements.py
ProgramFlow
FunctionCalls
09
10
11
12
13